#canvas_cs{
    border: 5px solid black;
    position: center;
    width: 100%;
    height: 80%;
}
#canvas_p{
    border: 5px solid black;
    position: center;
    width: 100%;
    height: 100%;
}
#canvas_pi{
    border: 5px solid black;
    position: center;
    width: 100%;
    height: 100%;
}
#canvas_pd{
    border: 5px solid black;
    position: center;
    width: 100%;
    height: 100%;
}